@charset "UTF-8";

@charset "UTF-8";

@media screen and (min-width: 320px ) and (max-width: 459px ){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    header > img{
        margin-left: 0px;
        width: 90px;
    }

    header > h1{
        font-size: 1rem;
        margin-top: 15px;
    }

    header > h1 > p {
        font-size: 0.8rem;
    }

    header > #burguer{
        display: block;
        margin-left: 20%;
        margin-top: 20px;
    }

    header > #burguer:hover{
        cursor: pointer;
        transform: scale(1.25,1.25);
    }

    menu#itens{
        display: none;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.693);
        z-index: 9999;
        margin-top: 71px;
        height: 100vh;
        width: 50vw;
        margin-right: 0px;
    }

    #itens > ul > li {
        display: block;
        margin: 20px auto;
        
    }
    
    #itens > ul > li > a{
        display: block;
        text-decoration: none;
        border: 1px solid rgb(71, 29, 65);
        color: rgb(71, 29, 65);
        width: 40vw;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        margin: auto;
    }

    #itens > ul > li:hover{
        background-color: rgb(71, 29, 65);
        border: 1px solid white;
    }

    #itens > ul > li > a:hover{
        color: white ;
    }


    #banner2 > a > img {
        width: 100vw;
        margin-top: 70px;
        z-index: 0
    }

    #cotainer-me {
        display: flex;
        flex-direction: column;
    }

    #About-me{
        height: 950px;
        width: 100vw;

    }


    #text{
        display: block;
        margin: 100px auto ;
    }    
        

    #agende {
        height: 40px;
    }

    #agende > h1 {
        margin-top: 15px;
        font-size: 0.7rem;
    }
    
    #agende > h1 > a {
        text-decoration: none;
        background-color: var(--body-colo);
        padding: 10px;
        border-radius: 10px;
        color: var(--font-color);
        margin-left: 20px;
        opacity: 1;

    }

    #Container-specialty{
        width: 60vw;
        height: 4500px;
    
    }
    
    #my-specialty {
        width: 60vw;
        height: 4500px;
    }

    .specialty {
        margin-right: 0px;
    }

    #my-removal{
        width: 60vw;
        height: 3100px;
    }
    
    #container-removal{
        width: 60vw;
        height:3100px;
    }

    .remove {
        margin-right: 0px;
    }

    #container-information{
        display: flex;
        flex-direction: column;
    }

    #contato{
        width: 99vw;
        height: 850px;
        margin-top: 200px;
    }
}

@media screen and (min-width: 460px ) and (max-width: 570px ){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    header > img{
        margin-left: 15%;
    }

    header > h1{
        font-size: 1.5rem;
        margin-top: 10px;
    }

    header > h1 > p {
        font-size: 1rem;
    }

    header > #burguer{
        display: block;
        margin-left: 10%;
        margin-top: 20px;
    }

    header > #burguer:hover{
        cursor: pointer;
        transform: scale(1.25,1.25);
    }

    menu#itens{
        display: none;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.693);
        z-index: 9999;
        margin-top: 71px;
        height: 100vh;
        width: 50vw;
        margin-right: 0px;
    }

    #itens > ul > li {
        display: block;
        border: 1px solid rgb(71, 29, 65);
        width: 25vw;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        
    }
    
    #itens > ul > li > a{
        display: block;
        text-decoration: none;
        color: rgb(71, 29, 65);
        width: 25vw;
        text-align: center;
        font-weight: bold;
    }

    #itens > ul > li:hover{
        background-color: rgb(71, 29, 65);
        border: 1px solid white;
    }

    #itens > ul > li > a:hover{
        color: white ;
    }


    #banner2 > a > img {
        width: 100vw;
        margin-top: 70px;
        z-index: 0
    }

    #cotainer-me {
        display: flex;
        flex-direction: column;
    }

    #About-me{
        height: 900px;
    }

    #text{
        margin-top: 100px;
        width: 50vw;
        margin-left: 0px;
    }

    #agende {
        height: 50px;
    }

    #agende > h1 {
        margin-top: 15px;
        font-size: 1.1rem;
    }
    
    #agende > h1 > a {
        text-decoration: none;
        background-color: var(--body-colo);
        padding: 10px;
        border-radius: 10px;
        color: var(--font-color);
        margin-left: 20px;
        opacity: 1;

    }

    #Container-specialty{
        width: 60vw;
        height: 4500px;
    
    }
    
    #my-specialty {
        width: 60vw;
        height: 4500px;
    }

    .specialty {
        margin-right: 0px;
    }

    #my-removal{
        width: 60vw;
        height: 3100px;
    }
    
    #container-removal{
        width: 60vw;
        height:3100px;
    }

    .remove {
        margin-right: 0px;
    }

    #container-information{
        display: flex;
        flex-direction: column;
    }

    #contato{
        width: 99vw;
        height: 850px;
        margin-top: 200px;
    }
}

@media screen and (min-width: 571px) and (max-width: 768px ){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    menu#itens{
        display: none;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.693);
        z-index: 9999;
        margin-top: 71px;
        height: 100vh;
        width: 50vw;
        margin-right: 0px;
    }

    #itens > ul > li {
        display: block;
        border: 1px solid rgb(71, 29, 65);
        width: 25vw;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        
    }
    
    #itens > ul > li > a{
        display: block;
        text-decoration: none;
        color: rgb(71, 29, 65);
        width: 25vw;
        text-align: center;
        font-weight: bold;
    }

    #itens > ul > li:hover{
        background-color: rgb(71, 29, 65);
        border: 1px solid white;
    }

    #itens > ul > li > a:hover{
        color: white ;
    }


    #cotainer-me {
        display: flex;
        flex-direction: column;
    }

    header > #burguer{
        display: block;
        position: fixed;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
    }

    header > #burguer:hover{
        cursor: pointer;
        transform: scale(1.25,1.25);
    }

    #banner2 > a > img {
        width: 100vw;
        margin-top: 70px;
        z-index: 0
    }

    #About-me{
        height: 900px;
    }

    #text{
        margin-top: 100px;
        width: 50vw;
        margin-left: 0px;
    }

    #agende {
        height: 60px;
    }

    #agende > h1 {
        margin-top: 20px;
        font-size: 1.3rem;
    }
    
    #agende > h1 > a {
        text-decoration: none;
        background-color: var(--body-colo);
        padding: 10px;
        border-radius: 10px;
        color: var(--font-color);
        margin-left: 20px;
        opacity: 1;

    }

    #Container-specialty{
        width: 98vw;
        height: 2350px;
    
    }
    
    #my-specialty {
        width: 98vw;
        height: 2400px;
    }
    
    #my-removal{
        width: 98vw;
        height: 2000px;
    }
    
    #container-removal{
        width: 98vw;
        height:2000px;
    }

    #container-information{
        display: flex;
        flex-direction: column;
    }

    #contato{
        width: 99vw;
        height: 850px;
        margin-top: 150px;
    }
}

@media screen and (min-width: 770px) and (max-width: 991px ){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    menu#itens{
        display: none;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.693);
        z-index: 9999;
        margin-top: 71px;
        height: 100vh;
        width: 50vw;
        margin-right: 0px;
    }

    #itens > ul > li {
        display: block;
        border: 1px solid rgb(71, 29, 65);
        width: 25vw;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        
    }
    
    #itens > ul > li > a{
        display: block;
        text-decoration: none;
        color: rgb(71, 29, 65);
        width: 25vw;
        text-align: center;
        font-weight: bold;
    }

    #itens > ul > li:hover{
        background-color: rgb(71, 29, 65);
        border: 1px solid white;
    }

    #itens > ul > li > a:hover{
        color: white ;
    }


    header > #burguer{
        display: block;
        position: fixed;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
    }

    header > #burguer:hover{
        cursor: pointer;
        transform: scale(1.25,1.25);
    }

    header > img {
        margin-left: 100px;
    }
    
    #banner2 > a > img {
        width: 100vw;
        margin-top: 70px;
        z-index: 0
    }
    
    #About-me{
        width: 70vw;
    }

    
    #Container-specialty{
        width: 98vw;
        height: 2350px;
    
    }
    
    #my-specialty {
        width: 98vw;
        height: 2400px;
    }
    
    #my-removal{
        width: 98vw;
        height: 2000px;
    }
    
    #container-removal{
        width: 98vw;
        height:2000px;
    }

    #container-information{
        display: flex;
        flex-direction: column;
    }

    #contato{
        width: 99vw;
        height: 850px;
        margin-top: 150px;
    }
}

    @media screen and (min-width: 992px) and ((max-width: 1000px)) {
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        header > img {
            margin-left: 20px;
        }

        #banner2 > a > img {
            width: 100vw;
            margin-top: 70px;
            z-index: 0
        }

        #Container-specialty{
            width: 98vw;
            height: 2000px;
        
        }
        
        #my-specialty {
            width: 98vw;
            height: 2050px;
        }

        #my-removal{
            width: 98vw;
            height: 1400px;
        }
        
        #container-removal{
            width: 98vw;
            height: 1400px;
        }

        #contato{
            margin-top: 200px;
        }
    }