@charset "UTF-8";

@media screen and (min-width: 901px ) {
    #header-options > #burguer {
        display: none;
    }

    #ulOptions {
        margin-left: 100px;
        margin-right: 100px;
    }
    #header-options > h1 {
        width: 40vw;
        font-size: 2rem;
    }

    #header-options > h1 > p {
        margin-right: 100px;
    }

    #my-specialty {
        height: 1850px;
    
    }

    #my-removal{
        height: 1400px;
    }
    
    #contato{
        margin-top: 100px;
    }
}

@media screen and (min-width: 577px ) and (max-width: 900px ){
    header {
        width: 100vw;
    }

    #header-options > #burguer {
        display: block;
        margin-right: 50px;
        margin-top: 20px;
    }

    #header-options > #burguer:hover #burguer{
        cursor: pointer;
        transform: scale(1.25,1.25);
        display: block;
    }

    #ulOptions{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin-top: 73px;
        margin-right: 0px;
        background-color: rgba(255, 255, 255, 0.577);
        color: rgb(71, 29, 65);
        margin-left: 50px;
        margin-right: 50px;
    }

    #ulOptions > li {
        display: block;
        border: 1px solid;
        width: 50vw;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    #ulOptions > li:hover{
        background-color: rgb(71, 29, 65);
    }

    #ulOptions > li > a:hover{
        color: white;
    }

    #ulOptions> li > a {
        display: block;
        color: rgb(71, 29, 65);
        width: max-content;
        margin: auto;
        font-size: 1.5rem;

    }


    #header-options > h1 {
        width: 40vw;
        font-size: 1.5rem;
        margin-right: 200px;
    }
    #header-options > h1 > p{
       margin-right: 90px;
    }

    #text{
        margin-top: 150px;
        width: 350px;
        margin-left: 40px;
    }

    #my-specialty {
        height: 1850px;
    
    }

    #my-removal{
        height: 1400px;
    }
    
    #contato{
        margin-top: 100px;
        height: 600px;
    }
}


@media ( max-width: 576px){

    #header-options > #burguer {
        display: block;
        margin-right: 30px;
        margin-top: 20px;
    }

    #header-options > #burguer:hover #ulOptions{
        cursor: pointer;
        transform: scale(1.25,1.25);
        display: block;
    }
    

    #header-options > h1 {
        margin: 0px;
        text-align: center;
        width: 300px;
        margin-top: 10px;
        font-size: 1.5rem;

    }


    #header-options > #ulOptions{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin-top: 73px;
        margin-right: 0px;
        background-color: rgba(255, 255, 255, 0.577);
        color: rgb(71, 29, 65);
    }
    

    #ulOptions> li {
        display: block;
        border: 1px solid;
        width: 50vw;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    #ulOptions > li:hover{
        background-color: rgb(71, 29, 65);
    }

    #ulOptions > li > a:hover{
        color: white;
    }

    #ulOptions > li > a {
        display: block;
        color: rgb(71, 29, 65);
        width: max-content;
        margin: auto;
        font-size: 1.5rem;

    }

    #About-me{
        width: 80vw;
    }

    #Container-specialty{
        height: 2230px;
    }
    #my-specialty{
        height: 2230px;
    }

    #agende > h1{
        font-size: 1.5rem;
    }

    #agende > h1 > a {
        font-size: 1rem;
        padding: 15px;
    }

    
    #my-removal{
        height: 1850px;
    }

    #contato{
        margin-top: 100px;
        height: 850px;
    }

}


@media ( max-width: 568px){

    #header-options > #burguer {
        display: block;
        margin-right: 30px;
        margin-top: 20px;
    }

    #header-options > #burguer:hover #ulOptions{
        cursor: pointer;
        transform: scale(1.25,1.25);
        display: block;
    }

    #ulOptions {
        display: none ;
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin-top: 73px;
        margin-right: 0px;
        background-color: rgba(255, 255, 255, 0.577);
        color: rgb(71, 29, 65);
    }


    #ulOptions > li {
        display: block;
        border: 1px solid;
        width: 50vw;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    #ulOptions > li:hover{
        background-color: rgb(71, 29, 65);
    }

    #ulOptions > li > a:hover{
        color: white;
    }

    #ulOptions > li > a {
        display: block;
        color: rgb(71, 29, 65);
        width: max-content;
        margin: auto;
        font-size: 1.5rem;

    }
    
    #header-options > h1 {
        margin: 0px;
        text-align: center;
        width: 300px;
        margin-top: 10px;
        font-size: 1.5rem;

    }

    #text {
        margin-top: 100px;
    }

    #Container-specialty{
        height: 4500px;
    }

    #my-specialty{
        height: 4500px;
    }

     #my-removal{
        height: 3200px;
        border: 1px solid;
    }
}