@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
}


:root {
    --body-colo :rgb(71, 29, 65);
    --header-color: rgb(71, 29, 65);
    --font-color : 
    rgba(255, 255, 255, 0.774);
}

body {
    background-color: var(--body-colo);
    color: var(--font-color);
}

header {
    background-image: url(imagens/banner-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 98vw;
    height: 550px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.226);
}

#header-options {
    position: fixed;
    display: flex;
    justify-content: right;
    background-color: var(--header-color);
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid ;
}


h1 {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;

}

h1 > p {
    font-size: 1rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#ul-options {
    display: flex;
    justify-content: right;
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 20px;
    width: 40vw;
    font-size: 0.8rem;
}

#ul-options > li {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

#ul-options > li > a {
    text-decoration: none;
    color: var(--font-color);
}

#cotainer-me {
    display: flex;
    flex-direction: row;
}

#About-me{
    color: var(--font-color-h2-p);
    text-align: center;
    width: 50vw;
    height: 550px;
    margin: 100px auto;
}

h2 {
    font-weight: normal;
    width: max-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--font-color);
    
}

#img-mim {
    margin-top: 50px;
    
}

#Container-specialty{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 95vw;
    height: 1350px;

}

#my-specialty {
    margin: auto;
    width: 95vw;
    height: 1350px;
    border: none;

}

.specialty {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.158) , -2px -2px 5px rgba(255, 255, 255, 0.158);
    width: 250px;
    height: 400px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 40px;
    text-align: center;

}

.specialty > img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171) , -2px -2px 5px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
}

.specialty > h3 {
    margin-top: 10px;
}

.explanation {
    margin: 10px;
}

#my-removal{
    margin: auto;
    width: 95vw;
    height: 675px;
    border: none;
    margin-top: 200px;
}

#container-removal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 95vw;
    height: 675px;
}

.remove {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.158) , -2px -2px 5px rgba(255, 255, 255, 0.158);
    width: 250px;
    height: 400px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 40px;
    text-align: center;
}

.remove >img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171) , -2px -2px 5px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
}